version: "3.9"

services:
  web:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: senha123
      MYSQL_DATABASE=gs_ai
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
